*.iml
.gradle
/local.properties
.idea/
.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Build outputs
build/
*/build/
**/build/
*.jar
*.aar
*.class

# VS Code
.vscode/
innertube-bridge/build
obscura/build
# Markdown files
*.md
